@font-face
{
	font-family: Montserrat; /*including font*/
	src: url(Montserrat-Regular.otf);
}
body
{
	margin: 0 auto;
}
a 
{
	text-decoration: none;
	color: #494848;
}
.text
{
	font-family: Montserrat;
	color: #494848;
	text-transform: uppercase;
}
.header
{
}
.header__top-line
{
	width: 100%;
	font: 12px Montserrat;	
}
.header__top-line--star-1
{
	margin-left: 39%;
}
.header__top-line--phrase-1
{
	
	text-align: center; 
}
.header__top-line--phrase-2
{
	position: absolute;
	right: 40px;
}
.header__logo
{
	position: absolute;
	width: 40%;
	padding-left: 40px;
	margin: 0;
}
.header__logo--picture
{
	width: 192px;
	height: 63px;
}
.header__logo--text
{
	margin: 0;
	padding-left: 47px;
	font-size: 23px;
	color: #a6a6a6;
	text-transform: none; 
}
.header__menu
{
	position: absolute;
	margin: 0 auto;
	padding-top: 20px;
	right: 40px;
}
.header__menu--paragraph
{
	list-style-type: none;
	display: inline;
	font-size: 14px;
	margin-left: 40px;
}
.header__menu--effect
{
	opacity: 1;
}
.header__menu--effect:hover
{
	opacity: 0.6;
}
.content
{
	position: relative;
}
.content__block
{
	top: 140px;
	position: relative;
}
.content__block__frame
{
	position: absolute;
	width: 93.7%;

	left: 40px;
}
.content__block__text
{
	top: -14px;
	left: 33%;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	background-color: #ffffff;
	font-size: 29px;
	font-weight: normal;
}
.arrow
{
	position: absolute;
	top: 300px;
	opacity: 0.4;
	cursor: pointer;
}
.arrow:hover
{
	opacity: 1;
}
.content__block__arrow-left
{
	left: 140px;
}
.content__block__arrow-left:hover
{
	left: 143px;
}
.content__block__arrow-right
{
	right: 140px;
}
.content__block__arrow-right:hover
{
	right: 143px;
}
.content__block__book
{
	position: absolute;
	width: 100%;
	text-align: center;
	padding-top: 40px;
}
.button
{
	border: none;
	border-radius: 10px;
	background-color: #0094ac;
	color: white;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font: 12px Montserrat;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.button:hover
{
	background-color:  #006e71;
}
.content__buttons
{
	top: 500px;
}
.content__buttons__remind-me-later
{
	position: absolute;
	width: 168px;
	height: 45px;
	top: 730px;
	left: 45%;
}
.content__buttons__order-button
{
	position: absolute;
	width: 218px;
	height: 45px;
	top: 730px;
	left: 61.8%;
}
.footer
{
	top: 850px;
	position: relative;
	background-color: #47a5a7;
	height: 80px;
	width: 100%;
}
.footer__shreck
{
	position: absolute;
	bottom: 78px;
	left: 168px;
}
.footer__logo--picture
{
	position: absolute;
	top: 5px;
	left: 40px;
}
.footer__logo--text
{
	position: absolute;
	color: white;
	font-size: 10px;
	top: 47px;
	left: 40px;
}
.footer__menu__currency--text
{
	position: absolute;
	color: white;
	text-transform: none;
	top: 27px;
	font-size: 14px;
	right: 770px;
}

.footer__menu__currency__dropdown
{
	position: relative;
    display: inline-block;
}
.footer__menu__currency__dropdown--button
{
	position: absolute;
	left: 530px;
	top: 10px;
	width: 90px;
	height: 28px;
	color: #494848;
	border-radius: 6px;
	background-color: white;
	border-color: #a9a9a9;
	border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}
.footer__menu__currency__dropdown--button:hover, .footer__menu__currency__dropdown--button:focus
{
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.footer__menu__currency__button--arrow
{
	position: absolute;
	padding-top: 7px;
	padding-left: 10px;
}
.footer__menu__currency__dropdown--list
{
	display: none;
    position: absolute;
    left: 530px;
    top: -30px;
    background-color: #f1f1f1;
    text-align: center;
    width: 90px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
.footer__menu__currency__dropdown--list a
{
	color: black;
    text-decoration: none;
    display: block;
}
.footer__menu__currency__dropdown--list a:hover 
{
	background-color: #ddd
}
.show 
{
	display:block;
}
.footer__menu__list
{
	position: absolute;
	list-style-type: none;
	right: 160px;
	top: 12px;
	cursor: default;
}
.footer__menu__list--item
{
	display: inline;
	color: white;
	font-size: 14px;
	margin-left: 25px;
	opacity: 1;
}
.footer__menu__list--item:hover
{
	opacity: 0.6;
}
.footer__social
{
	position: absolute;
	right: 40px;
	top: 25px;
	cursor: default;
}
.footer__social--item
{
	opacity: 1;
}
.footer__social--item:hover
{
	opacity: 0.6;
}
